:root {
    --color-orange: rgb(255, 195, 0);
    --color-pink: salmon;
    --color-green: #5c862e;
    --color-blue: rgb(3, 128, 252, .3);
}

body {
    margin: 0;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, sans-serif;
}

body, .sticky-footer-wrapper {
    min-height: 300vh;
}

.flex-fill {
    flex: 1 1 auto;
}

.guests {
    background: url('../images/landscape.jpg');
    height: 500px;
    background-size: cover;
    background-position: center;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.employees {
    background: url('../images/landscape.jpg');
    height: 150px;
    background-size: cover;
    background-position: center;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

header nav.navbar {
    border-bottom: 1px solid white;
    height: 48px;
    width: 100%;
    padding: 0px;
    position: absolute;
    /* TODO: remove this so that students can change it*/
}

header nav ul {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #fff;
    width: 100%;
    height: 60px;
}

header nav ul li {
    margin-left: 10px;
    /* padding:20px; */
    /* margin-top: 10px; */
    list-style-type: none;
}

header nav.navbar ul li a {
    text-decoration: none;
    font-size: 2vw;
    text-transform: uppercase;
    padding: 14px;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--color-pink);
}

.navbar-light .navbar-nav .nav-link.active {
    color: var(--color-green);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: var(--color-green);
}

header nav ul li a:hover {
    color: var(--color-green);
}

section.welcome-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 44%;
    margin: auto;
    margin-top: 200px;
    border-radius: 5px;
    background-color: var(--color-blue);
    padding: 10px 20px;
}

h2.welcome {
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 15px;
    font-weight: bold;
}

main {
    height: 900px;
}

.orange {
    color: var(--color-orange);
}

.white {
    color: #fff;
}

.action-text {
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 20px;
}

.middle {
    margin-top: 50px;
    margin-bottom: 50px;
}

.bottom {
    display: flex;
    flex-wrap: wrap;
}

footer {
    height: 300px;
    background-color: var(--color-blue);
}

address {
    line-height: 20px;
}

address a {
    color: var(--color-green);
    cursor: pointer;
}

.box {
    width: 100%;
    ;
    height: 150px;
    border: 1px solid black;
    padding: 20px;
}

.ticket-tool-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ticket-tool-flex input {
    width: 40%;
    margin-right: 5px;
    margin-left: 5px;
    text-align: right;
    height: 48px;
}

.ticket-tool-flex button {
    width: 48px;
    height: 48px;
}

.ticket-text {
    font-size: 1.1em;
}

.total-price {
    color: var(--color-green);
}

.leave-bar {
    border: 0;
    height: 55px;
    background-image: url('../images/hr.png');
    background-repeat: repeat-x;
}

.colors {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.tble-game tr, td {
    border: 1px solid black;
    width: 40px;
    height: 40px;
}

/* mobile css */

@media screen and (max-width: 425px) {
    header nav ul {
        height: 370px;
        padding-top: 14px;
    }
    header nav.navbar ul.navbar-nav li a {
        font-size: 1.5em;
        line-height: 20px;
    }
    section.welcome-container {
        width: 100%;
    }
    .bottom-images {
        display: none;
    }
    .extra-links {
        display: none;
    }
    footer {
        height: 65px;
        line-height: 60px;
        background-color: var(--color-blue);
    }
    address {
        font-size: 10px;
        ;
    }
}

.front-images img {
    margin-top: 5px;
}

.menu-icon {
    width: 20px;
}

.menu-icon:hover {
    color: var(--color-green);
    width: 20px;
}

.btn-success {
    background-color: var(--color-green);
}

/* tablet css */

@media screen and (max-width: 768px) {}